<h1>Panels</h1>
<%= link_to 'New Panel', new_panel_path %>
<br/>
<table>
	<tr>
		<th>Name</th>
		<th>Layout</th>
		<th>Content</th>
		<th>No. Images</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @panels.each do |panel| %>
		<tr>
			<td><%= panel.name %></td>
			<td><%= panel.page_layout.name %></td>
			<td><%= truncate panel.text, :length => 50 %></td>
			<td><%= panel.images.count %></td>
			<td><%= link_to 'Show', panel %></td>
			<td><%= link_to 'Edit', edit_panel_path(panel) %></td>
			<td><a class="rails-delete" data-link="/panels/delete/<%= panel.id %>">Destroy</a></td>
		</tr>
	<% end %>
</table>