<h1>News Ticker</h1>
<%= link_to 'New News Ticker', new_news_article_path %>
<br/>
<table>
	<tr>
		<th>Text</th>
		<th>Published?</th>
		<th></th>
		<th></th>
	</tr>
	<% @news_article.each do |news_article| %>
		<tr>
			<td><%= news_article.title %></td>
			<td><%= check_box_tag :news_article_publish, news_article.id, news_article.publish, {:id => "publish#{news_article.id}", :class => "news_article_publish"} %></td>
			<td><%= link_to 'Edit', edit_news_article_path(news_article) %></td>
			<td><a class="rails-delete" data-link="/news_articles/delete/<%= news_article.id %>">Destroy</a></td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("input.news_article_publish").unbind("click").click(function() {
			$.post("/admin/publish_news_article", {news_article_id: $(this).val(), publish: $(this).is(":checked")});
		});
	});
</script>