<%= form_for(@newsletter) do |f| %>
	<% if @newsletter.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this planner from being saved:</h2>
			<ul>
				<% @newsletter.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<table>
		<tr>
			<th>Date</th>
			<td><%= f.text_field :date %></td>
		</tr>
		<tr>
			<th>Upload Article</th>
			<td><%= f.file_field :article_file %></td>
		</tr>
	</table>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<script tyoe="text/javascript">
	$(document).ready(function() {
		$("input#newsletter_date").datepicker({
  		dateFormat: "yy-mm-dd"
		});
	});
</script>