<h1>Planners</h1>
<%= link_to 'New Planner', new_newsletter_path %>
<br/>
<table>
	<tr>
		<th>Date</th>
		<th>File</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @newsletters.each do |newsletter| %>
		<tr>
			<td><%= newsletter.date %></td>
			<td><%= newsletter.filename %>.<%= newsletter.original_filename.split(".").last %></td>
			<td><a href="/newsletter/<%= newsletter.filename %>.<%= newsletter.original_filename.split(".").last %>">Download</a></td>
			<td><%= link_to 'Show', newsletter %></td>
			<td><%= link_to 'Edit', edit_newsletter_path(newsletter) %></td>
			<td><a class="rails-delete" data-link="/newsletters/delete/<%= newsletter.id %>">Destroy</a></td>
		</tr>
	<% end %>
</table>