<% if current_user %>
	<h1>Welcome To HTOL-Catholics CMS System</h1>
	Logged in as <%= current_user.username %><br/>
	<% if current_user.level == User::DEVELOPER %>
		Authorized for developer tools access<br/>
	<% end %>
	<br/>
	<ul>
		<% if current_user.level == User::DEVELOPER %>
			<li><a href="/contents">Contents</a></li>
			<li><a href="/page_layouts">Layouts</a></li>
			<li><a href="/pages">Pages</a></li>
			<li><a href="/panels">Panels</a></li>
			<li><a href="/users">Users</a></li>
			<li>-----</li>
		<% end %>
		<li><a href="/admin/pages">Website Content</a></li>
		<li><a href="/images">Images</a></li>
		<li><a href="/galleries">Galleries</a></li>
		<li><a href="/articles">Articles</a></li>
		<li><a href="/newsletters">Newsletters</a></li>
		<li><a href="/magazines">Magazines</a></li>
		<li><a href="/diaries">Diary</a></li>
		<li><a href="/admin/prayers">Prayers</a></li>
		<li><a href="/news_articles">News Ticker</a></li>
		<li><a href="/admin/notes">Contact (<%= @unread %> unread)</a></li>
	</ul>
<% else %>
	<table class="login">
		<tr>
			<td>
				<%= text_field_tag :username, nil, :placeholder => "Username" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= password_field_tag :password, nil, :placeholder => "Password" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= submit_tag :submit, :value => "Login", :id => "login" %>
			</td>
		</tr>
	</table>
	<span class="error" style="display:none;"></span>

	<script type="text/javascript">
		$(document).ready(function() {
			$("input#login").unbind("click").click(function() {
				$("span.error").hide();
				var params = {
					"username": $("input#username").val(),
					"password": $("input#password").val()
				}
				$.post("/login", params, function(json) {
					if (json.success) {
						window.location.reload();
					} else {
						$("span.error").html(json.message);
						$("span.error").show();
					}
				});
			});
			
			$("input#password").keydown(function(event) {
   			 	if (event.keyCode == 13) $("input#login").trigger("click");
			});
		});
	</script>
<% end %>