<h1>Notes</h1>
<table style="margin-top:20px;">
	<tr>
		<th style="width:25%;">Date</th>
		<th>Name</th>
		<th>Category</th>
		<th>Read?</th>
		<th>Actioned?</th>
	</tr>
	<% @notes.each do |note| %>
		<tr class="hover <%= 'unread' unless note.is_read %>" data-id="<%= note.id %>">
			<td><%= note.created_at.strftime("%a #{note.created_at.day.ordinalize} %B %Y %H:%M") %></td>
			<td><%= note.name %></td>
			<td><%= note.category %></td>
			<td><%= note.is_read ? "Yes" : "No" %></td>
			<td class="no_link">
				<% if note.actioned %>
					<input class="note_action" type="checkbox" data-id="<%= note.id %>" checked="true" />
				<% else %>
					<input class="note_action" type="checkbox" data-id="<%= note.id %>" />
				<% end %>
			</td>
			<td class="no_link"><a class="rails-delete" data-link="/notes/delete/<%= note.id %>">Delete</a></td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("tr.hover td:not(.no_link)").click(function() {
			window.location.href = "/admin/note/"+$(this).parent().data("id");
		});
		$("input.note_action").unbind("click").click(function() {
			$.post("/admin/action_note/"+$(this).data("id"), {actioned: $(this).is(":checked")});
		});
	});
</script>
