<h1>Notes</h1>
<table style="margin-top:20px;">
	<tr>
		<th style="width:25%;">Date</th>
		<th>Name</th>
		<th>Category</th>
		<th>Read?</th>
	</tr>
	<% @notes.each do |note| %>
		<tr class="hover <%= 'unread' unless note.is_read %>" data-id="<%= note.id %>">
			<td><%= note.created_at.strftime("%a #{note.created_at.day.ordinalize} %B %Y %H:%M") %></td>
			<td><%= note.name %></td>
			<td><%= note.category %></td>
			<td><%= note.is_read ? "Yes" : "No" %></td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("tr.hover").click(function() {
			window.location.href = "/admin/note/"+$(this).data("id");
		});
	});
</script>
