<h1>Request - <%= @note.created_at.strftime("%a #{@note.created_at.day.ordinalize} %B %Y %H:%M") %></h1>
<table class="show" style="margin-top:20px;">
	<tr>
		<th>Name</th>
		<td><%= @note.name %></td>
	</tr>
	<tr>
		<th>Phone</th>
		<td><%= @note.phone_number %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= @note.email_address %></td>
	</tr>
	<tr>
		<th>Tickets</th>
		<td><%= @note.message %></td>
	</tr>
	<tr>
		<th>Category</th>
		<td><%= @note.category %></td>
	</tr>
	<tr>
		<th>Actioned?</th>
		<td>
			<% if @note.actioned %>
				<input class="note_action" type="checkbox" checked="true" />
			<% else %>
				<input class="note_action" type="checkbox" />
			<% end %>
		</td>
	</tr>
</table>
<%= link_to 'Back', "/admin/notes" %>

<script type="text/javascript">
	$(document).ready(function() {
		$("input.note_action").unbind("click").click(function() {
			$.post("/admin/action_note/<%= @note.id %>", {actioned: $(this).is(":checked")});
		});
	});
</script>