<%= form_for(@panel) do |f| %>
	<%= f.hidden_field :classes %>
	<div id="error_explanation" style="display:none;">
		<h2>Errors prohibited this panel from being saved.</h2>
		<ul>
			<li>Panel must have a Name.</li>
			<li>Panel must have a Layout.</li>
		</ul>
	</div>
	<table>
		<tr>
			<th>Name</th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<th>Layout</th>
			<td><%= f.select :page_layout_id, options_for_select(@panel_layouts, @panel.page_layout_id), {:prompt => ""} %></td>
		</tr>
		<tr>
			<th>Content</th>
			<td style="padding-top:6px;"><%= f.text_area :text, :cols => 100, :class => "wysiwyg" %></td>
		</tr>
		<tr style="display:none;"><td><%= f.text_field :images %></td></tr>
		<% unless @panel.images.first %>
			<tr class="image_select">
				<th>Images</th>
				<td><%= select_tag :image, options_for_select(@images), {:prompt => "", :id => "image0", :class => "image_select"} %><a class="remove" style="display:none;">X</a></td>
			</tr>
		<% else %>
			<% @panel.images.each_with_index do |image,i| %>
				<tr class="image_select">
					<th><%= "Images" if i==0 %></th>
					<td><%= select_tag :image, options_for_select(@images, image.id), {:prompt => "", :id => "image#{i}", :class => "image_select"} %><a class="remove" style="<%= 'display:none;' if i==0 %>">X</a></td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<button id="add_image">Add Image</button><br/>
	<div class="actions">
		<%= f.submit :id => "panel_submit" %>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		// WYSIWYG
		$("div.admin_display").toggle();
		$.get("/admin/wysiwyg_content", function(response) {
			$("div.admin_display").toggle();
			$(".wysiwyg").htmlarea({
				css: "/wysiwyg/wysiwyg.css",
				toolbar: ["bold","italic","underline","|","orderedlist","unorderedlist","|","indent","outdent","|","justifyleft","justifycenter","justifyright","|","p","h1","h2","h3","h4","|","image","table","alink",{
						css: "article",
						text: "Insert Article",
						action: function() {
							var self = this;
							$(".article_select_container").toggle();
							$(".article_select_cancel").unbind("click").click(function(e) {
								e.preventDefault();
								$(".article_select_container").hide();
							});
							$(".article_select_insert").unbind("click").click(function(e) {
								e.preventDefault();
								var filename = $(".wysiwyg_article_select").val();
								if (filename.length > 0) self.ec("createLink", false, "/download/"+filename);
								$(".article_select_container").hide();
							});
						}
					},"unlink","youtube","|","html","|","undo","redo"
				],
				images: response.images,
				articles: response.articles
			});
		});
		
		$("input#panel_submit").unbind("click").click(function(event) {
			event.preventDefault();
			$("div#error_explanation").hide();
			var params = {
				name: $("input#panel_name").val(),
				page_layout_id: $("select#panel_page_layout_id").val(),
				text: $("textarea#panel_text").val(),
				classes: $("input#panel_classes").val(),
				images: $("input#panel_images").val()
			}
			$.post("<%= @url %>", {
				id: "<%= @panel.id %>",
				page_id: "<%= @page.id %>",
				panel_number: "<%= @panel_number %>",
				panel: params
			}, function(response) {
				if (response.success) {
					window.location.href = "/admin/pages/<%= @page.id %>"
				} else {
					$("div#error_explanation").show();
				}
			});
		});

		$("button#add_image").unbind("click").click(function(event) {
			event.preventDefault();
			var row = $("tr.image_select").first().clone();
			$(row).find("th").html("");
			$(row).find("a").show();
			$(row).find("select").val("").attr("id","image"+(new Date().getTime()));
			$("table").append(row);
			triggers();
		});    
		triggers();
	});

	function triggers() {
		$("a.remove").unbind("click").click(function() {
			$(this).parents("tr").remove();
			updateImages();
		});
		$("select.image_select").unbind("change").change(function() {
			updateImages();
		});
	}

	function updateImages() {
		var images = [];
		$.each($("select.image_select"), function(i,select) {
			if ($(select).val() != "") images.push($(select).val());
		});
		$("input#panel_images").val("["+images.join(",")+"]");
	}
	updateImages();
</script>