<%= form_for(@diary) do |f| %>
	<% if @diary.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@diary.errors.count, "error") %> prohibited this diary from being saved:</h2>
			<ul>
				<% @diary.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<table>
		<tr>
			<th>Date</th>
			<td><%= f.text_field :date %></td>
		</tr>
		<tr>
			<th>Title</th>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<th>Content</th>
			<td style="padding-top:6px;"><%= f.text_area :text, :cols => 100, :class => "wysiwyg" %></td>
		</tr>
		<tr style="display:none;"><td><%= f.text_field :images %></td></tr>
		<% unless @diary.images.first %>
			<tr class="image_select">
				<th>Images</th>
				<td><%= select_tag :image, options_for_select(@images), {:prompt => "", :id => "image0", :class => "image_select"} %><a class="remove" style="display:none;">X</a></td>
			</tr>
		<% else %>
			<% @diary.images.each_with_index do |image,i| %>
				<tr class="image_select">
					<th><%= "Images" if i==0 %></th>
					<td><%= select_tag :image, options_for_select(@images, image.id), {:prompt => "", :id => "image#{i}", :class => "image_select"} %><a class="remove" style="<%= 'display:none;' if i==0 %>">X</a></td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<button id="add_image">Add Image</button>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		// WYSIWYG
		$(".wysiwyg").htmlarea({
			css: "/wysiwyg/wysiwyg.css",
			toolbar: ["bold","italic","underline","|","p","h1","h2","h3","h4","|","alink","unlink","|","html","|","undo","redo"]
		});
		
		$("button#add_image").unbind("click").click(function(event) {
			event.preventDefault();
			var row = $("tr.image_select").first().clone();
			$(row).find("th").html("");
			$(row).find("a").show();
			$(row).find("select").val("").attr("id","image"+(new Date().getTime()));
			$("table").append(row);
			triggers();
		});    
		triggers();
	});

	function triggers() {
		$("a.remove").unbind("click").click(function() {
			$(this).parents("tr").remove();
			updateImages();
		});
		$("select.image_select").unbind("change").change(function() {
			updateImages();
		});
	}

	function updateImages() {
		var images = [];
		$.each($("select.image_select"), function(i,select) {
			if ($(select).val() != "") images.push($(select).val());
		});
		$("input#diary_images").val("["+images.join(",")+"]");
	}
	updateImages();
</script>