<h1>Diary</h1>
<%= link_to 'New Diary', new_diary_path %>
<br/>
<table>
	<tr>
		<th>Date</th>
		<th>Title</th>
		<th>Content</th>
		<th>No. Images</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @diaries.each do |diary| %>
		<tr>
			<td><%= diary.date %></td>
			<td><%= diary.title %></td>
			<td><%= truncate diary.text %></td>
			<td><%= diary.images.count %></td>
			<td><%= link_to 'Show', diary %></td>
			<td><%= link_to 'Edit', edit_diary_path(diary) %></td>
			<td><a class="rails-delete" data-link="/diaries/delete/<%= diary.id %>">Destroy</a></td>
		</tr>
	<% end %>
</table>