<p id="notice"><%= notice %></p>
<table class="show">
	<tr>
		<th>Username</th>
		<td><%= @user.username %></td>
	</tr>
	<tr>
		<th>Permission Level</th>
		<td><%= @user.level.capitalize %></td>
	</tr>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>