<div id="menu">
	<ul id="main_menu">
		<% @menu.each_with_index do |link,i| %>
			<li class="menu_link <%= 'selected highlight' if link.link == @page_link || (@page_link == "home" && link.link == "/") %>" data-id="<%= link.id %>">
				<a href="<%= "/" unless link.link == "/" %><%= link.link %>" style="font-size:16px;"><%= link.title %></a>
			</li>
		<% end %>
	</ul>
	<div id="accessibility">
		<a id="size1" class="accessibility" style="font-size:13px;">A</a><span style="font-size:13px;">/</span><a id="size2" class="accessibility" style="font-size:16px;position:relative;top:1px;">A</a><span style="font-size:13px;">/</span><a id="size3" class="accessibility" style="font-size:20px;position:relative;top:2px;">A</a>
	</div>
	<div class="clear"></div>
	<% @menu.each_with_index do |link,i| %>
		<ul class="sub_menu <%= 'current' if link.link == @page_link || (@page_link == "home" && link.link == "/") %>" data-id="<%= link.id %>">
			<% link.sub_links.each_with_index do |sub_link,j| %>
				<li><a href="/<%= sub_link.link %>" class="<%= 'sub_selected' if sub_link.link == "#{@page_link}/#{@sub_link}" %>"><%= sub_link.title %></a><%= " | " if j+1 < link.sub_links.count %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("li.menu_link").mouseenter(function() {
			$("li.menu_link").removeClass("highlight");
			$(this).addClass("highlight");
			$("ul.sub_menu").hide();
			$("ul.sub_menu[data-id="+$(this).data("id")+"]").show();
		});
		
		$("div#menu").mouseleave(function() {
			$("ul.sub_menu").hide();
			$("ul.sub_menu.current").show();
			$("li.menu_link").removeClass("highlight");
			$("li.menu_link.selected").addClass("highlight");
		});
	});
</script>