<% unless @galleries.empty? %>
	<div class="panel-wrapper full-width">
		<div class="panel full">
			<div style="padding:10px;">
				<ul class="gallery_list" style="height:<%= (@galleries.count/8.0).ceil*100 %>px;">
					<% @galleries.each do |gallery| %>
						<% if gallery.images.first && gallery.images.first.thumb_content %>
							<li class="gallery_link" data-link="/events/gallery/<%= gallery.id %>" style="width:100px;height:100px;background-image:url(/thumb/<%= gallery.images.first.id %>);">
						<% else %>
							<li class="gallery_link" data-link="/events/gallery/<%= gallery.id %>" style="width:100px;height:100px;background-image:url(http://placehold.it/100?text=Open);">
						<% end %>
						<span><%= gallery.name %></span>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% else %>
	<div class="panel-wrapper full-width">
		<div class="panel full center">
			<h2>Nothing here yet...</h2>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("li.gallery_link").click(function() {
			window.location.href = $(this).data("link");
		});
	});
</script>
