<% if @gallery.images.first %>
	<div class="panel-wrapper full-width">
		<div class="panel full center">
			<h2><%= @gallery.name %> Gallery</h2>
			<div style="padding:10px;">
				<ul id="lightGallery" style="height:<%= (@gallery.images.count/9.0).ceil*100 %>px;">
					<% @gallery.images.each do |image| %>
						<% if image.thumb_content %>
							<li data-src="/image/<%= image.id %>" style="background-image:url(/thumb/<%= image.id %>);"></li>
						<% else %>
							<li data-src="/image/<%= image.id %>" style="background-image:url(http://placehold.it/100?text=IMG);"></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% else %>
	<div class="panel-wrapper full-width">
		<div class="panel full center">
			<h2><%= @gallery.name %> Gallery</h2>
			<h2>Nothing here yet...</h2>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("#lightGallery").lightGallery();
	});
</script>