<%= form_for(@page_layout) do |f| %>
	<% if @page_layout.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@page_layout.errors.count, "error") %> prohibited this page_layout from being saved:</h2>
			<ul>
				<% @page_layout.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<table>
		<tr>
			<th>Name</th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<th>Type</th>
			<td><%= f.select :content_type, options_for_select([["Page","PAGE"],["Panel","PANEL"]]), {:prompt => ""} %></td>
		</tr>
		<tr>
			<th>Content</th>
			<td><%= f.text_area :html_content, :cols => 70 %></td>
		</tr>
		<tr>
			<th>Number Of Panels</th>
			<td><%= f.text_field :num_panels %></td>
		</tr>
		<tr>
			<th>Preview</th>
			<td><%= f.text_area :preview_content, :cols => 70 %></td>
		</tr>
	</table>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>