<p id="notice"><%= notice %></p>
<table class="show">
	<tr>
		<th>Date</th>
		<td><%= @periodical.date %></td>
	</tr>
	<tr>
		<th>Period (days)</th>
		<td><%= @periodical.period %></td>
	</tr>
	<tr>
		<th>Content</th>
		<td><%= @periodical.text %></td>
	</tr>
</table>
<%= link_to 'Edit', edit_periodical_path(@periodical) %> |
<%= link_to 'Back', periodicals_path %>