<!DOCTYPE html>
<html>
	<head>
		<title>CM Website</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		
		<!-- WYSIWYG -->
		<script src="/wysiwyg/jHtmlArea.0.7.0.js"></script>
		<script src="/wysiwyg/jHtmlArea.ColourPickerMenu.js"></script>
		<link href="/wysiwyg/jHtmlArea.0.7.0.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/wysiwyg/jHtmlArea.Editor.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/wysiwyg/jHtmlArea.ColorPickerMenu.css" media="screen" rel="stylesheet" type="text/css">
		
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="admin_wrapper">
			<%= render "shared/admin_sidebar" %>
			<div id="admin_content" class="admin_display">
				<%= yield %>
			</div>
			<div id="admin_loading" class="admin_display"></div>
		</div>
	</body>
</html>
